### WebCrawling
- 웹 페이지의 종류 (웹페이지 종류에 따라 크롤링 방식이 달라짐)
    - 정적페이지 : 페이지의 데이터가 변경될 때 URL이 변경됨
        => html포맷 데이터 수집
       ex) 페이지 1에서 2누르면 URL1->URL2 변경, 텍스트도 변경됨
    - 동적페이지 : 페이지의 데이터가 변경될 때 URL이 변경되지 않음 
        => json포맷 데이터 수집
       ex) 더보기 버튼클릭했는데 URL이 URL1에서 바뀌지 않음, 근데 텍스트는 추가됨

- requests package
    - 브라우저의 URL을 입력하면 서버에서 데이터를 다운받아 화면에 출력 : URL => DATA
    - requests 패키지 : URL => DATA

### Naver Stock Data
- Kospi 지수
- Kosdaq 지수
- USD: 원달러 환율
얘네를 수집할 것임

In [1]:
#데이터 수집하기 전에 사용할 패키지가 있음
import requests
import pandas as pd #URL로 data수집하면 수집한 데이터를 판다스의 데이터프레임으로 출력할 것임

In [6]:
# 1. 웹서비스를 분석 : 크롬 개발자 도구 => URL 얻기. (이게 가장 어려움)
# m.stock.naver.com 네이버 코스피 국내증시의 일별시세 가져오기

In [67]:
#10개씩 가져오는데 4페이지에 있는 데이터를 가져온다 라고 추측가능
url = "https://m.stock.naver.com/api/index/KOSPI/price?pageSize=10&page=4"

In [68]:
# 2. URL을 알아냈으니까, 서버쪽에다가 데이터를 요청해야 함. 
#    Requests => response (요청 => 응답)을 통해 JSON 포맷의 string 데이터를 가져옴

In [69]:
response = requests.get(url) #get방식으로 요청이 이루어 졌으니까 get으로 요청
#이렇게 하면 get해서 얻은 요청을 response에 담음
response
#<Response [200]> 이렇게 떴는데, 200은 status code, 404면 에러 500번대도 에러

In [70]:
response.text[:200] #list 안에 dictionary가 들어간 구조인 것을 알 수 있다. 너무 많아서 200까지만 출력

'[{"localTradedAt":"2022-06-22","closePrice":"2,342.81","compareToPreviousClosePrice":"-66.12","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-2.74","openPrice"'

In [71]:
# 3. JSON 포맷의 string 데이터 => list, dict => dataframe 변환

In [72]:
data = response.json() #json 포맷의 문자열인데 list로 바꿔줬음 
type(data), data[:2] #list 안에 dictionary 있음 => dictionary 하나하나가 row data가 됨.

(list,
 [{'localTradedAt': '2022-06-22',
   'closePrice': '2,342.81',
   'compareToPreviousClosePrice': '-66.12',
   'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
   'fluctuationsRatio': '-2.74',
   'openPrice': '2,417.11',
   'highPrice': '2,418.05',
   'lowPrice': '2,342.81'},
  {'localTradedAt': '2022-06-21',
   'closePrice': '2,408.93',
   'compareToPreviousClosePrice': '17.90',
   'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
   'fluctuationsRatio': '0.75',
   'openPrice': '2,402.99',
   'highPrice': '2,423.48',
   'lowPrice': '2,385.60'}])

In [74]:
#데이터 프레임으로 바꿔주기
df = pd.DataFrame(data)[["localTradedAt", "closePrice"]] #모든 칼럼이 필요한게 아니니까 두개만 가져오기
df

  localTradedAt closePrice
0    2022-06-22   2,342.81
1    2022-06-21   2,408.93
2    2022-06-20   2,391.03
3    2022-06-17   2,440.93
4    2022-06-16   2,451.41
5    2022-06-15   2,447.38
6    2022-06-14   2,492.97
7    2022-06-13   2,504.51
8    2022-06-10   2,595.87
9    2022-06-09   2,625.44

In [ ]:
# 4. 함수 만들기
# params: pagesize, page

In [40]:
def stock_price(pagesize, page, code="KOSPI"):
    url = f'https://m.stock.naver.com/api/index/{code}/price?pageSize={pagesize}&page={page}'
    response = requests.get(url) #url로 요청해서 가져오기
    data = response.json() #가져온 데이터를 json()을 통해 리스트 형태로 변환
    return pd.DataFrame(data)[["localTradedAt", "closePrice"]] #리스트로 변환한걸 가지고 데이터 프레임으로 만드는데, 갖고오고싶은 칼럼만 갖고옴

In [41]:
stock_price(30, 2)

   localTradedAt closePrice
0     2022-06-22   2,342.81
1     2022-06-21   2,408.93
2     2022-06-20   2,391.03
3     2022-06-17   2,440.93
4     2022-06-16   2,451.41
5     2022-06-15   2,447.38
6     2022-06-14   2,492.97
7     2022-06-13   2,504.51
8     2022-06-10   2,595.87
9     2022-06-09   2,625.44
10    2022-06-08   2,626.15
11    2022-06-07   2,626.34
12    2022-06-03   2,670.65
13    2022-06-02   2,658.99
14    2022-05-31   2,685.90
15    2022-05-30   2,669.66
16    2022-05-27   2,638.05
17    2022-05-26   2,612.45
18    2022-05-25   2,617.22
19    2022-05-24   2,605.87
20    2022-05-23   2,647.38
21    2022-05-20   2,639.29
22    2022-05-19   2,592.34
23    2022-05-18   2,625.98
24    2022-05-17   2,620.44
25    2022-05-16   2,596.58
26    2022-05-13   2,604.24
27    2022-05-12   2,550.08
28    2022-05-11   2,592.27
29    2022-05-10   2,596.56

In [42]:
# 실습 :  지금 수집한 데이터는 코스피 데이터인데, 위의 과정을 이용해서 코스닥 데이터 수집 코드 작성

In [43]:
# 1. 웹서비스 분석: URL

In [44]:
url = "https://m.stock.naver.com/api/index/KOSDAQ/price?pageSize=10&page=2"

In [45]:
# 2. request(url) => response(json) : JSON(str)

In [46]:
response = requests.get(url)
data = response.json()

In [47]:
# 3. JSON(str) => list, dict => DataFrame

In [48]:
res = pd.DataFrame(data)[["localTradedAt", "closePrice"]]
res

  localTradedAt closePrice
0    2022-07-20     790.72
1    2022-07-19     782.33
2    2022-07-18     776.72
3    2022-07-15     762.39
4    2022-07-14     766.08
5    2022-07-13     763.18
6    2022-07-12     750.78
7    2022-07-11     767.04
8    2022-07-08     766.48
9    2022-07-07     757.97

In [31]:
# 4. 함수 만들기

In [53]:
#default argument
#code="KOSPI" 부분은 디폴트로, 만약에 매개변수 2개만 주면(code를 안줌) KOSPI로 넣어서 작동
def stock_price(pageSize, page, code="KOSPI"):
    """ This function is crawling stock price from naver webpage.
    Params
    ------
    pagesize : int : one page size
    page : int : page number
    code : str : KOSPI or KOSDAQ
    
    Return
    ------
    type : DataFrame : display date, price columns
    """
    url = f"https://m.stock.naver.com/api/index/{code}/price?pageSize={pageSize}&page={page}"
    response = requests.get(url)
    data = response.json()
    return pd.DataFrame(data)[["localTradedAt", "closePrice"]]

In [104]:
#최근 60일치 kospi/kosdaq 데이터
kospi = stock_price(60, 1, "KOSPI")
kosdaq = stock_price(60, 1, "KOSDAQ")
display(kospi)
display(kosdaq)

   localTradedAt closePrice
0     2022-08-03   2,455.25
1     2022-08-02   2,439.62
2     2022-08-01   2,452.25
3     2022-07-29   2,451.50
4     2022-07-28   2,435.27
5     2022-07-27   2,415.53
6     2022-07-26   2,412.96
7     2022-07-25   2,403.69
8     2022-07-22   2,393.14
9     2022-07-21   2,409.16
10    2022-07-20   2,386.85
11    2022-07-19   2,370.97
12    2022-07-18   2,375.25
13    2022-07-15   2,330.98
14    2022-07-14   2,322.32
15    2022-07-13   2,328.61
16    2022-07-12   2,317.76
17    2022-07-11   2,340.27
18    2022-07-08   2,350.61
19    2022-07-07   2,334.27
20    2022-07-06   2,292.01
21    2022-07-05   2,341.78
22    2022-07-04   2,300.34
23    2022-07-01   2,305.42
24    2022-06-30   2,332.64
25    2022-06-29   2,377.99
26    2022-06-28   2,422.09
27    2022-06-27   2,401.92
28    2022-06-24   2,366.60
29    2022-06-23   2,314.32
30    2022-06-22   2,342.81
31    2022-06-21   2,408.93
32    2022-06-20   2,391.03
33    2022-06-17   2,440.93
34    2022-06-16   2,451.41
35    2022-06-15   2,447.38
36    2022-06-14   2,492.97
37    2022-06-13   2,504.51
38    2022-06-10   2,595.87
39    2022-06-09   2,625.44
40    2022-06-08   2,626.15
41    2022-06-07   2,626.34
42    2022-06-03   2,670.65
43    2022-06-02   2,658.99
44    2022-05-31   2,685.90
45    2022-05-30   2,669.66
46    2022-05-27   2,638.05
47    2022-05-26   2,612.45
48    2022-05-25   2,617.22
49    2022-05-24   2,605.87
50    2022-05-23   2,647.38
51    2022-05-20   2,639.29
52    2022-05-19   2,592.34
53    2022-05-18   2,625.98
54    2022-05-17   2,620.44
55    2022-05-16   2,596.58
56    2022-05-13   2,604.24
57    2022-05-12   2,550.08
58    2022-05-11   2,592.27
59    2022-05-10   2,596.56

   localTradedAt closePrice
0     2022-08-03     813.14
1     2022-08-02     804.34
2     2022-08-01     807.61
3     2022-07-29     803.62
4     2022-07-28     798.32
5     2022-07-27     795.70
6     2022-07-26     789.93
7     2022-07-25     789.69
8     2022-07-22     789.75
9     2022-07-21     795.15
10    2022-07-20     790.72
11    2022-07-19     782.33
12    2022-07-18     776.72
13    2022-07-15     762.39
14    2022-07-14     766.08
15    2022-07-13     763.18
16    2022-07-12     750.78
17    2022-07-11     767.04
18    2022-07-08     766.48
19    2022-07-07     757.97
20    2022-07-06     744.63
21    2022-07-05     750.95
22    2022-07-04     722.73
23    2022-07-01     729.48
24    2022-06-30     745.44
25    2022-06-29     762.35
26    2022-06-28     769.51
27    2022-06-27     770.60
28    2022-06-24     750.30
29    2022-06-23     714.38
30    2022-06-22     746.96
31    2022-06-21     778.30
32    2022-06-20     769.92
33    2022-06-17     798.69
34    2022-06-16     802.15
35    2022-06-15     799.41
36    2022-06-14     823.58
37    2022-06-13     828.77
38    2022-06-10     869.86
39    2022-06-09     877.18
40    2022-06-08     874.95
41    2022-06-07     873.78
42    2022-06-03     891.51
43    2022-06-02     891.14
44    2022-05-31     893.36
45    2022-05-30     886.44
46    2022-05-27     873.97
47    2022-05-26     871.43
48    2022-05-25     872.69
49    2022-05-24     865.07
50    2022-05-23     883.59
51    2022-05-20     879.88
52    2022-05-19     863.80
53    2022-05-18     871.57
54    2022-05-17     865.98
55    2022-05-16     856.25
56    2022-05-13     853.08
57    2022-05-12     833.66
58    2022-05-11     866.34
59    2022-05-10     856.14

In [57]:
#dogstring: 함수를 사용하는 방법을 문자열로 작성
#help(), shift+tab
help(stock_price)

Help on function stock_price in module __main__:

stock_price(pageSize, page, code='KOSPI')
    This function is crawling stock price from naver webpage.
    Params
    ------
    pagesize : int : one page size
    page : int : page number
    code : str : KOSPI or KOSDAQ

    Return
    ------
    type : DataFrame : display date, price columns


#### 원달러 환율 데이터 수집
- m.stock.naver.com => 시장지표 => 미국 USD => 일별시세(더보기) 누르면 url 얻을 수 있음

In [58]:
#최근 60일치 원달러 환율 데이터 수집

In [61]:
# 1. 웹 서비스 분석 : URL

In [105]:
page, pageSize = 1, 60
url = f"https://api.stock.naver.com/marketindex/exchange/FX_USDKRW/prices?page={page}&pageSize={pageSize}"

In [106]:
# 2. request(url) => response(JSON) : JSON(str)

In [107]:
response = requests.get(url)

In [108]:
# 3. JSON(str) => list, dict => DataFrame

In [141]:

data = response.json() #list 안에 dictionary가 있다
data

[{'localTradedAt': '2022-08-03',
  'closePrice': '1,309.40',
  'fluctuations': '-2.60',
  'fluctuationsRatio': '-0.20',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,332.31',
  'cashSellValue': '1,286.49',
  'sendValue': '1,322.20',
  'receiveValue': '1,296.60'},
 {'localTradedAt': '2022-08-02',
  'closePrice': '1,312.00',
  'fluctuations': '7.00',
  'fluctuationsRatio': '0.54',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,334.96',
  'cashSellValue': '1,289.04',
  'sendValue': '1,324.80',
  'receiveValue': '1,299.20'},
 {'localTradedAt': '2022-08-01',
  'closePrice': '1,305.00',
  'fluctuations': '0.50',
  'fluctuationsRatio': '0.04',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,327.83',
  'cashSellValue': '1,282.17',
  'sendValue': '1,317.70',
  'receiveValue': '1,292.30'},
 {'localTradedAt': '2022-07-29',
  'closePrice': '1,304.50',
  'fluctuations': '2.50',
  'fluctuationsRatio': '0.19',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,327.32',
  'cashSellValue': '1,281.68',
  'sendValue': '1,317.20',
  'receiveValue': '1,291.80'},
 {'localTradedAt': '2022-07-28',
  'closePrice': '1,302.00',
  'fluctuations': '-12.00',
  'fluctuationsRatio': '-0.91',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,324.78',
  'cashSellValue': '1,279.22',
  'sendValue': '1,314.70',
  'receiveValue': '1,289.30'},
 {'localTradedAt': '2022-07-27',
  'closePrice': '1,314.00',
  'fluctuations': '3.00',
  'fluctuationsRatio': '0.23',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,336.99',
  'cashSellValue': '1,291.01',
  'sendValue': '1,326.80',
  'receiveValue': '1,301.20'},
 {'localTradedAt': '2022-07-26',
  'closePrice': '1,311.00',
  'fluctuations': '-1.00',
  'fluctuationsRatio': '-0.08',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,333.94',
  'cashSellValue': '1,288.06',
  'sendValue': '1,323.80',
  'receiveValue': '1,298.20'},
 {'localTradedAt': '2022-07-25',
  'closePrice': '1,312.00',
  'fluctuations': '2.00',
  'fluctuationsRatio': '0.15',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,334.96',
  'cashSellValue': '1,289.04',
  'sendValue': '1,324.80',
  'receiveValue': '1,299.20'},
 {'localTradedAt': '2022-07-22',
  'closePrice': '1,310.00',
  'fluctuations': '-5.00',
  'fluctuationsRatio': '-0.38',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,332.92',
  'cashSellValue': '1,287.08',
  'sendValue': '1,322.80',
  'receiveValue': '1,297.20'},
 {'localTradedAt': '2022-07-21',
  'closePrice': '1,315.00',
  'fluctuations': '3.00',
  'fluctuationsRatio': '0.23',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,338.01',
  'cashSellValue': '1,291.99',
  'sendValue': '1,327.80',
  'receiveValue': '1,302.20'},
 {'localTradedAt': '2022-07-20',
  'closePrice': '1,312.00',
  'fluctuations': '3.00',
  'fluctuationsRatio': '0.23',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,334.96',
  'cashSellValue': '1,289.04',
  'sendValue': '1,324.80',
  'receiveValue': '1,299.20'},
 {'localTradedAt': '2022-07-19',
  'closePrice': '1,309.00',
  'fluctuations': '-6.50',
  'fluctuationsRatio': '-0.49',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,331.90',
  'cashSellValue': '1,286.10',
  'sendValue': '1,321.80',
  'receiveValue': '1,296.20'},
 {'localTradedAt': '2022-07-18',
  'closePrice': '1,315.50',
  'fluctuations': '-9.50',
  'fluctuationsRatio': '-0.72',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,338.52',
  'cashSellValue': '1,292.48',
  'sendValue': '1,328.30',
  'receiveValue': '1,302.70'},
 {'localTradedAt': '2022-07-15',
  'closePrice': '1,325.00',
  'fluctuations': '1.00',
  'fluctuationsRatio': '0.08',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,348.18',
  'cashSellValue': '1,301.82',
  'sendValue': '1,337.90',
  'receiveValue': '1,312.10'},
 {'localTradedAt': '2022-07-14',
  'closePrice': '1,324.00',
  'fluctuations': '19.00',
  'fluctuationsRatio': '1.46',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,347.17',
  'cashSellValue': '1,300.83',
  'sendValue': '1,336.90',
  'receiveValue': '1,311.10'},
 {'localTradedAt': '2022-07-13',
  'closePrice': '1,305.00',
  'fluctuations': '-4.00',
  'fluctuationsRatio': '-0.31',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,327.83',
  'cashSellValue': '1,282.17',
  'sendValue': '1,317.70',
  'receiveValue': '1,292.30'},
 {'localTradedAt': '2022-07-12',
  'closePrice': '1,309.00',
  'fluctuations': '-5.00',
  'fluctuationsRatio': '-0.38',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,331.90',
  'cashSellValue': '1,286.10',
  'sendValue': '1,321.80',
  'receiveValue': '1,296.20'},
 {'localTradedAt': '2022-07-11',
  'closePrice': '1,314.00',
  'fluctuations': '14.00',
  'fluctuationsRatio': '1.08',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,336.99',
  'cashSellValue': '1,291.01',
  'sendValue': '1,326.80',
  'receiveValue': '1,301.20'},
 {'localTradedAt': '2022-07-08',
  'closePrice': '1,300.00',
  'fluctuations': '-0.50',
  'fluctuationsRatio': '-0.04',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,322.75',
  'cashSellValue': '1,277.25',
  'sendValue': '1,312.70',
  'receiveValue': '1,287.30'},
 {'localTradedAt': '2022-07-07',
  'closePrice': '1,300.50',
  'fluctuations': '-5.50',
  'fluctuationsRatio': '-0.42',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,323.25',
  'cashSellValue': '1,277.75',
  'sendValue': '1,313.20',
  'receiveValue': '1,287.80'},
 {'localTradedAt': '2022-07-06',
  'closePrice': '1,306.00',
  'fluctuations': '-5.50',
  'fluctuationsRatio': '-0.42',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,328.85',
  'cashSellValue': '1,283.15',
  'sendValue': '1,318.70',
  'receiveValue': '1,293.30'},
 {'localTradedAt': '2022-07-05',
  'closePrice': '1,311.50',
  'fluctuations': '16.00',
  'fluctuationsRatio': '1.24',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,334.45',
  'cashSellValue': '1,288.55',
  'sendValue': '1,324.30',
  'receiveValue': '1,298.70'},
 {'localTradedAt': '2022-07-04',
  'closePrice': '1,295.50',
  'fluctuations': '-2.50',
  'fluctuationsRatio': '-0.19',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,318.17',
  'cashSellValue': '1,272.83',
  'sendValue': '1,308.10',
  'receiveValue': '1,282.90'},
 {'localTradedAt': '2022-07-01',
  'closePrice': '1,298.00',
  'fluctuations': '-3.50',
  'fluctuationsRatio': '-0.27',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,320.71',
  'cashSellValue': '1,275.29',
  'sendValue': '1,310.70',
  'receiveValue': '1,285.30'},
 {'localTradedAt': '2022-06-30',
  'closePrice': '1,301.50',
  'fluctuations': '4.00',
  'fluctuationsRatio': '0.31',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,324.27',
  'cashSellValue': '1,278.73',
  'sendValue': '1,314.20',
  'receiveValue': '1,288.80'},
 {'localTradedAt': '2022-06-29',
  'closePrice': '1,297.50',
  'fluctuations': '6.50',
  'fluctuationsRatio': '0.50',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,320.20',
  'cashSellValue': '1,274.80',
  'sendValue': '1,310.20',
  'receiveValue': '1,284.80'},
 {'localTradedAt': '2022-06-28',
  'closePrice': '1,291.00',
  'fluctuations': '6.00',
  'fluctuationsRatio': '0.47',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,313.59',
  'cashSellValue': '1,268.41',
  'sendValue': '1,303.60',
  'receiveValue': '1,278.40'},
 {'localTradedAt': '2022-06-27',
  'closePrice': '1,285.00',
  'fluctuations': '-11.00',
  'fluctuationsRatio': '-0.85',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,307.48',
  'cashSellValue': '1,262.52',
  'sendValue': '1,297.50',
  'receiveValue': '1,272.50'},
 {'localTradedAt': '2022-06-24',
  'closePrice': '1,296.00',
  'fluctuations': '-7.50',
  'fluctuationsRatio': '-0.58',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,318.68',
  'cashSellValue': '1,273.32',
  'sendValue': '1,308.70',
  'receiveValue': '1,283.30'},
 {'localTradedAt': '2022-06-23',
  'closePrice': '1,303.50',
  'fluctuations': '1.00',
  'fluctuationsRatio': '0.08',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,326.31',
  'cashSellValue': '1,280.69',
  'sendValue': '1,316.20',
  'receiveValue': '1,290.80'},
 {'localTradedAt': '2022-06-22',
  'closePrice': '1,302.50',
  'fluctuations': '9.00',
  'fluctuationsRatio': '0.70',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,325.29',
  'cashSellValue': '1,279.71',
  'sendValue': '1,315.20',
  'receiveValue': '1,289.80'},
 {'localTradedAt': '2022-06-21',
  'closePrice': '1,293.50',
  'fluctuations': '0.50',
  'fluctuationsRatio': '0.04',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,316.13',
  'cashSellValue': '1,270.87',
  'sendValue': '1,306.10',
  'receiveValue': '1,280.90'},
 {'localTradedAt': '2022-06-20',
  'closePrice': '1,293.00',
  'fluctuations': '-2.00',
  'fluctuationsRatio': '-0.15',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,315.62',
  'cashSellValue': '1,270.38',
  'sendValue': '1,305.60',
  'receiveValue': '1,280.40'},
 {'localTradedAt': '2022-06-17',
  'closePrice': '1,295.00',
  'fluctuations': '1.50',
  'fluctuationsRatio': '0.12',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,317.66',
  'cashSellValue': '1,272.34',
  'sendValue': '1,307.60',
  'receiveValue': '1,282.40'},
 {'localTradedAt': '2022-06-16',
  'closePrice': '1,293.50',
  'fluctuations': '2.00',
  'fluctuationsRatio': '0.15',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,316.13',
  'cashSellValue': '1,270.87',
  'sendValue': '1,306.10',
  'receiveValue': '1,280.90'},
 {'localTradedAt': '2022-06-15',
  'closePrice': '1,291.50',
  'fluctuations': '2.00',
  'fluctuationsRatio': '0.16',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,314.10',
  'cashSellValue': '1,268.90',
  'sendValue': '1,304.10',
  'receiveValue': '1,278.90'},
 {'localTradedAt': '2022-06-14',
  'closePrice': '1,289.50',
  'fluctuations': '1.50',
  'fluctuationsRatio': '0.12',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,312.06',
  'cashSellValue': '1,266.94',
  'sendValue': '1,302.10',
  'receiveValue': '1,276.90'},
 {'localTradedAt': '2022-06-13',
  'closePrice': '1,288.00',
  'fluctuations': '8.00',
  'fluctuationsRatio': '0.63',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,310.54',
  'cashSellValue': '1,265.46',
  'sendValue': '1,300.60',
  'receiveValue': '1,275.40'},
 {'localTradedAt': '2022-06-10',
  'closePrice': '1,280.00',
  'fluctuations': '24.00',
  'fluctuationsRatio': '1.91',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,302.40',
  'cashSellValue': '1,257.60',
  'sendValue': '1,292.50',
  'receiveValue': '1,267.50'},
 {'localTradedAt': '2022-06-09',
  'closePrice': '1,256.00',
  'fluctuations': '-1.50',
  'fluctuationsRatio': '-0.12',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,277.98',
  'cashSellValue': '1,234.02',
  'sendValue': '1,268.30',
  'receiveValue': '1,243.70'},
 {'localTradedAt': '2022-06-08',
  'closePrice': '1,257.50',
  'fluctuations': '0.00',
  'fluctuationsRatio': '0.00',
  'fluctuationsType': {'code': '3', 'text': '보합', 'name': 'UNCHANGED'},
  'cashBuyValue': '1,279.50',
  'cashSellValue': '1,235.50',
  'sendValue': '1,269.80',
  'receiveValue': '1,245.20'},
 {'localTradedAt': '2022-06-07',
  'closePrice': '1,257.50',
  'fluctuations': '5.50',
  'fluctuationsRatio': '0.44',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,279.50',
  'cashSellValue': '1,235.50',
  'sendValue': '1,269.80',
  'receiveValue': '1,245.20'},
 {'localTradedAt': '2022-06-03',
  'closePrice': '1,252.00',
  'fluctuations': '1.50',
  'fluctuationsRatio': '0.12',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,273.91',
  'cashSellValue': '1,230.09',
  'sendValue': '1,264.20',
  'receiveValue': '1,239.80'},
 {'localTradedAt': '2022-06-02',
  'closePrice': '1,250.50',
  'fluctuations': '2.50',
  'fluctuationsRatio': '0.20',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,272.38',
  'cashSellValue': '1,228.62',
  'sendValue': '1,262.70',
  'receiveValue': '1,238.30'},
 {'localTradedAt': '2022-05-31',
  'closePrice': '1,248.00',
  'fluctuations': '9.50',
  'fluctuationsRatio': '0.77',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,269.84',
  'cashSellValue': '1,226.16',
  'sendValue': '1,260.20',
  'receiveValue': '1,235.80'},
 {'localTradedAt': '2022-05-30',
  'closePrice': '1,238.50',
  'fluctuations': '-17.50',
  'fluctuationsRatio': '-1.39',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,260.17',
  'cashSellValue': '1,216.83',
  'sendValue': '1,250.60',
  'receiveValue': '1,226.40'},
 {'localTradedAt': '2022-05-27',
  'closePrice': '1,256.00',
  'fluctuations': '-9.50',
  'fluctuationsRatio': '-0.75',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,277.98',
  'cashSellValue': '1,234.02',
  'sendValue': '1,268.30',
  'receiveValue': '1,243.70'},
 {'localTradedAt': '2022-05-26',
  'closePrice': '1,265.50',
  'fluctuations': '-5.50',
  'fluctuationsRatio': '-0.43',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,287.64',
  'cashSellValue': '1,243.36',
  'sendValue': '1,277.90',
  'receiveValue': '1,253.10'},
 {'localTradedAt': '2022-05-25',
  'closePrice': '1,271.00',
  'fluctuations': '6.00',
  'fluctuationsRatio': '0.47',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,293.24',
  'cashSellValue': '1,248.76',
  'sendValue': '1,283.40',
  'receiveValue': '1,258.60'},
 {'localTradedAt': '2022-05-24',
  'closePrice': '1,265.00',
  'fluctuations': '0.50',
  'fluctuationsRatio': '0.04',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,287.13',
  'cashSellValue': '1,242.87',
  'sendValue': '1,277.30',
  'receiveValue': '1,252.70'},
 {'localTradedAt': '2022-05-23',
  'closePrice': '1,264.50',
  'fluctuations': '-8.50',
  'fluctuationsRatio': '-0.67',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,286.62',
  'cashSellValue': '1,242.38',
  'sendValue': '1,276.80',
  'receiveValue': '1,252.20'},
 {'localTradedAt': '2022-05-20',
  'closePrice': '1,273.00',
  'fluctuations': '-5.00',
  'fluctuationsRatio': '-0.39',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,295.27',
  'cashSellValue': '1,250.73',
  'sendValue': '1,285.40',
  'receiveValue': '1,260.60'},
 {'localTradedAt': '2022-05-19',
  'closePrice': '1,278.00',
  'fluctuations': '10.50',
  'fluctuationsRatio': '0.83',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,300.36',
  'cashSellValue': '1,255.64',
  'sendValue': '1,290.50',
  'receiveValue': '1,265.50'},
 {'localTradedAt': '2022-05-18',
  'closePrice': '1,267.50',
  'fluctuations': '-3.00',
  'fluctuationsRatio': '-0.24',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,289.68',
  'cashSellValue': '1,245.32',
  'sendValue': '1,279.90',
  'receiveValue': '1,255.10'},
 {'localTradedAt': '2022-05-17',
  'closePrice': '1,270.50',
  'fluctuations': '-14.50',
  'fluctuationsRatio': '-1.13',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,292.73',
  'cashSellValue': '1,248.27',
  'sendValue': '1,282.90',
  'receiveValue': '1,258.10'},
 {'localTradedAt': '2022-05-16',
  'closePrice': '1,285.00',
  'fluctuations': '1.00',
  'fluctuationsRatio': '0.08',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,307.48',
  'cashSellValue': '1,262.52',
  'sendValue': '1,297.50',
  'receiveValue': '1,272.50'},
 {'localTradedAt': '2022-05-13',
  'closePrice': '1,284.00',
  'fluctuations': '-6.50',
  'fluctuationsRatio': '-0.50',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,306.47',
  'cashSellValue': '1,261.53',
  'sendValue': '1,296.50',
  'receiveValue': '1,271.50'},
 {'localTradedAt': '2022-05-12',
  'closePrice': '1,290.50',
  'fluctuations': '16.00',
  'fluctuationsRatio': '1.26',
  'fluctuationsType': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'cashBuyValue': '1,313.08',
  'cashSellValue': '1,267.92',
  'sendValue': '1,303.10',
  'receiveValue': '1,277.90'},
 {'localTradedAt': '2022-05-11',
  'closePrice': '1,274.50',
  'fluctuations': '-1.50',
  'fluctuationsRatio': '-0.12',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,296.80',
  'cashSellValue': '1,252.20',
  'sendValue': '1,286.90',
  'receiveValue': '1,262.10'},
 {'localTradedAt': '2022-05-10',
  'closePrice': '1,276.00',
  'fluctuations': '-1.50',
  'fluctuationsRatio': '-0.12',
  'fluctuationsType': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'cashBuyValue': '1,298.33',
  'cashSellValue': '1,253.67',
  'sendValue': '1,288.50',
  'receiveValue': '1,263.50'}]

In [110]:
usd = pd.DataFrame(data)[["localTradedAt", "closePrice"]]
usd.tail(2)

   localTradedAt closePrice
58    2022-05-11   1,274.50
59    2022-05-10   1,276.00

In [111]:
# 데이터분석
# 상관관계분석: 두 데이터 집합 사이에 관계가 있는지 확인하는 분석 방법
# 원달러 환율이 높으면 코스피, 코스닥 주가 지수가 낮다. => 음의 상관관계
# 높높이면 양의 상관관계

In [112]:
# 피어슨 상관계수 : df.corr()
# 두 데이터 집합에 대한 피어슨 상관계수를 구한 게 1과 가까울수록 강한 양의 상관관계를 갖는다.
# -1과 가까울수록 강한 음의 상관관계를 갖는다.
# 0과 가까울수록 관계가 없다.

In [158]:
# 데이터 전처리
df = kospi.copy() #copy()를 쓰지 않고 그냥 df=kospi 해버리면 kospi도 바뀌어 버림.
df["kosdaq"] = kosdaq["closePrice"]
df["usd"] = usd["closePrice"]
df.rename(columns = {"closePrice": "kospi"}, inplace=True)
df.tail(2)

   localTradedAt     kospi  kosdaq       usd
58    2022-05-11  2,592.27  866.34  1,274.50
59    2022-05-10  2,596.56  856.14  1,276.00

In [159]:
df.dtypes #산술연산해야되는데 문자열데이터임

localTradedAt    object
kospi            object
kosdaq           object
usd              object
dtype: object

In [160]:
#컬럼의 데이터 타입 변경하기 : str => float
# df[column].apply() : 모든 데이터를 함수(람다함수를 말함)에 대입한 결과를 출력
# df[column]에 있는 모든 데이터들을 각각 data에 넣고, float(data.replace(",", "")) 여기로 넘어감
# replace로 콤마(,) 제거하고 float()로 형변환
df["kospi"] = df["kospi"].apply(lambda data: float(data.replace(",", "")))

In [161]:
df["kosdaq"] = df["kosdaq"].apply(lambda data: float(data.replace(",", "")))
df["usd"] = df["usd"].apply(lambda data: float(data.replace(",", "")))

In [162]:
df.dtypes

localTradedAt     object
kospi            float64
kosdaq           float64
usd              float64
dtype: object

In [163]:
df[["kospi", "kosdaq", "usd"]].corr()

           kospi    kosdaq       usd
kospi   1.000000  0.984056 -0.878546
kosdaq  0.984056  1.000000 -0.821620
usd    -0.878546 -0.821620  1.000000

In [128]:
#kospi - kosdaq : 0.984 : 1과 가까우면 강한 양의 상관관계
#kospi - usd : -0.878 : -1과 가까우면 강한 음의 상관관계

# 이렇게 분석해 보니 원달러 환율이 높아서 kospi가 낮게 평가되어있다 => 코스피 주식을 사는 게 맞다.

In [130]:
# copy(), apply(), lambda

In [131]:
# copy()

In [135]:
data1 = [1, 2, 3]
data2 = data1
print(data1, data2) # [1, 2, 3], [1, 2, 3]
data1[1] = 4
print(data1, data2) # [1, 4, 3], [1, 4, 3]


"""
 data2도 같이 바뀌었음
 이게 코드 작성 시 실수가 많이 나오는 부분.
 결과가 왜 이렇게 나오는가.??
 변수 선언 = 메모리에 데이터 저장
 data1 = [1, 2, 3] 실행 시 메모리 안에 [1, 2, 3]을 만든다. 
 그리고 메모리의 주솟값이 연결된다, 그리고 d1은 그 주솟값이 들어있음 '참조한다' 라고 함
 data2 = data1 하면 data2가 data1에 있던 주솟값을 가짐 => 참조하는 주소가 같음
 data1[1]=4 라고 하면 data1과 data2가 참조하는 메모리가 같기 때문에
 data1[1]이나 data2[1]이나 같은 값임
 """

[1, 2, 3] [1, 2, 3]
[1, 4, 3] [1, 4, 3]

In [139]:
data1 = [1, 2, 3]
data2=data1 #주솟값 복사(얕은 복사)
data3=data1.copy() #값 복사(깊은 복사)
print(data1, data2, data3) # [1, 2, 3] [1, 2, 3] [1, 2, 3]

data1[1] = 4
print(data1, data2, data3) #[1, 4, 3] [1, 4, 3] [1, 2, 3]

"""
data1과 data2가 참조하는 주솟값은 같음 => 얕은 복사 (주솟값을 복사)
data3가 copy하면 똑같은 걸 만들어 주소를 참조 => 깊은 복사 (실제 값을 복사)
"""

[1, 2, 3] [1, 2, 3] [1, 2, 3]
[1, 4, 3] [1, 4, 3] [1, 2, 3]

In [142]:
# apply(func) : 모든 데이터를 func을 적용시킨 결과 출력

In [143]:
df = pd.DataFrame([
    {"age": 23}, {"age":36}, {"age":27}
])
df

   age
0   23
1   36
2   27

In [149]:
#연령대 컬럼을 추가
def change_ages(age):
    return age // 10*10

df['ages'] = df['age'].apply(change_ages)
df

   age  ages
0   23    20
1   36    30
2   27    20

In [150]:
# lambda : 일회성 함수 (실행 시 잠깐 생성되었다가 사라지기 때문)
# 사용하는 이유: 간단한 함수(파라미터를 받아서 바로 리턴하는)를 메모리를 절약하여 사용
# 간단한 함수를 argument에서 구현해서 사용하는 용도로 주로 사용
"""
람다는 임시함수로 메모리를 점유하고 있지 않습니다. 
def 함수명 으로 정의된 함수는 프로그램 종료 때 소멸되기 때문에 일명 글로벌 함수라고도 함니다. 
람다는 함수사용후 즉각 메모리에서 소멸됩니다.
"""

In [151]:
#함수 3개 사용, 메모리 3칸 사용
def plus(n1, n2):
    return n1+n2

def minus(n1, n2):
    return n1-n2

def calc(func, n1, n2):
    return func(n1, n2)

In [153]:
calc(plus, 1, 2), calc(minus, 1, 2) #plus가 calc의 func로 들어감, 1과 2는 각각 n1, n2로 들어감

(3, -1)

In [154]:
plus_lambda = lambda n1, n2: n1+n2
calc(plus, 2, 3), plus_lambda(2, 3)

#lambda 파라미터 : 리턴코드

(5, 5)

In [2]:
#람다를 이용해서 바꾸기
def calc(func, n1, n2):
    return func(n1, n2)

calc(lambda n1, n2: n1+n2, 1, 2), calc(lambda n1, n2: n1-n2, 1, 2)

(3, -1)

### 정리
- 웹 페이지 종류
    - 정적페이지: 데이터가 변경될 때 url 변경 o => html
    - 동적페이지: 데이터가 변경될 때 url 변경 x => json
    
- 웹 크롤링 절차
    1. 웹 서비스 분석 : 크롬 개발자 도구 사용 : URL
    2. request(url) => response(json) : JSON(str) #동적페이지의 경우
    3. JSON(str) => list, dict => DataFrame